# Terraform
.terraform/
terraform.tfstate
terraform.tfstate.backup
.terraform.lock.hcl
terraform.tfstate.*.backup
*.tfstate*

# AWS Credentials
.aws/
*.pem
*.key
*.env

# OS / editor files
.DS_Store
.vscode/
.idea/
